<!DOCTYPE html>
<html lang="en">
{{template "head" .}}
<body>
{{template "header" .}}

<div class="container mb-5 h-100">
    <div class="row align-items-center h-100">
        <div class="col-12 pb-5 mb-5">

            <div class="jumbotron my-auto" style="background: none!important;">
                <h2 style="font-size: 3.25em;text-align: center;margin-bottom: 0.75em;margin-top: 0;font-weight: 500;" class="site-welcome stick-top">Congratulations <span style="color: #54487A !important;">{{.User.UserName}}</span>!<br>
                    Your link has been shortened</h2>

                    <div class="typeahead-container px-5" style="font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;position: relative;">
                        <div class="row">
                            <div class="col-12">
                                <div class="typeahead-field" style="display: table;border-collapse: separate;box-sizing: border-box;position: relative;width: 100%;">
                                    <span class="typeahead-query" style="font-size: 1.1em; height: 2.3em;display: table-cell;vertical-align: top;width: 100%;">
                                      <input class="rounded" style="border: 1px solid #ccc;padding-left:10px;font-size: 1.3em; height: 2.5em;" id="shortlink" name="shortlink" type="search" autocomplete="off" aria-label="Shortened Link" autofocus="" value="{{.ShortLink}}" readonly>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div id="copied" class="col-12 text-right text-primary" style="display: none;">
                                Successfully copied to the Clipboard.
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-12">
                                <button data-clipboard-target="#shortlink" onclick="document.getElementById('copied').style.display = 'block';" class="float-right btn btn-primary">Copy to Clipbaord</button>
                            </div>
                        </div>
                    </div>
            </div>

        </div>
    </div>
</div>

{{template "footer" .}}

<script src="/assets/clipboard.min.js"></script>
<script>
    new ClipboardJS('.btn');
</script>

</body>
</html>
